@model IEnumerable<NKYS.Models.Salary>

@{
    ViewData["Title"] = "Index";
}

<script type="text/javascript">
    Application.Main.CurrentView = "SalarieSearch";
</script>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<partial name="SalariesSearchFilter" model="null" view-bag="ViewBag" />
<table class="table">
    <thead id="SalariesSearch_Table_Head">
    </thead>
    <tbody id="SalariesSearch_Table_Body">
    </tbody>
</table>

<script type="text/html" id="Tp1_SalariesSearch_Table_Head">
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
</script>

<script type="text/html" id="Tp1_SalariesSearch_Table_Body">
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</script>


