@model NKYS.Models.ViewModel.SalarieSearchModel

@{
    ViewData["Title"] = "工资审核";
}

<script type="text/javascript">
    Application.Main.CurrentView = "SalariesValidation";
</script>

<div>
    <div class="row p-2">
        <div class="col-3 form-group">
            <label asp-for="DepartmentId" class="control-label"></label>
            <select asp-for="DepartmentId" class="form-control selectpicker" asp-items="ViewBag.Departments" id="SalariesValidation_Select_DepartmentId" onchange="Application.ViewsScript['SalariesValidation'].OnChangeCriteria(event)">
                <option selected value="-1"></option>
            </select>
        </div>
        <div class="col-3 form-group">
            <label asp-for="GroupsId" class="control-label"></label>
            <select asp-for="GroupsId" class="form-control selectpicker" id="SalariesValidation_Select_GroupId" onchange="Application.ViewsScript['SalariesValidation'].OnChangeCriteria(event)" asp-items="ViewBag.Groups">
                <option selected value="-1"></option>
            </select>
        </div>
        <div class="col-2 form-group">
            <label asp-for="PeriodId" class="control-label"></label>
            <select asp-for="PeriodId" class="form-control selectpicker" asp-items="ViewBag.Periods" id="SalariesValidation_Select_PeriodId" onchange="Application.ViewsScript['SalariesValidation'].OnChangeCriteria(event)">
                <option selected value="-1"></option>
            </select>
        </div>
        <div class="col-2 form-group">
            <label asp-for="Validity" class="control-label"></label>
            <select asp-for="Validity" class="form-control selectpicker" id="SalariesValidation_Select_SalaryValidity" onchange="Application.ViewsScript['SalariesValidation'].OnChangeCriteria(event)">
                <option selected value="-1"></option>
            </select>
        </div>

        <div class="col-2">
            <button type="button" data-i18n="Search" class="btn btn-primary" style="margin-top:30px;" disabled id="SalariesValidation_Button_Search" onclick="Application.ViewsScript['SalariesValidation'].RefreshData()" />
            </button>
        </div>

    </div>
    <div class="row p-2">
        <div class="col-3">
            <button type="button" class="btn btn-primary" id="SalariesValidation_Button_Validation" data-i18n="Validation" disabled></button>
        </div>

        <div class="col-3">
            <button type="button" class="btn btn-primary" id="SalariesValidation_Button_FinalValidation" data-i18n="FinalValidation" disabled></button>
        </div>
    </div>
    <hr />

    <div class="table-responsive">
        <table class="table table-hover table-striped table-bordered" id="SalariesValidation_Table">
        </table>
    </div>
</div>

